* {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0 auto;
  font-family: "Major Mono Display", monospace;
  font-size: 69px;
  margin: 2%;
  text-align: center;
  color: #5b8eeb;
}

h2 {
  margin: 0 auto;
  font-size: 25px;
  margin: 2%;
  text-align: center;
  font-family: "Monaco", monospace;
}

.buttons {
  margin: 0%; //wip place buttons in centerrrrr
}

#tic_tac_toe,
#connectfour,
#choosesecondgamesis {
  background-color: white;
  border: 1px solid black;
  color: black;
  font-size: 21px;
  font-family: "Monaco", monospace;
  line-height: 55px;
  margin: 1%;
  text-align: center;
  width: 250px;
  display:inline-block;

}

#tic_tac_toe:hover,
#connectfour:hover,
#choosesecondgamesis:hover {
  background-color: #5b8eeb;
  color: white;
  cursor: pointer;
}
